<%- include('includes/head.ejs', { title: 'Profile' }) %>
<style>
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }

  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  /* Main styles */
  main {
    margin: 20px;
    text-align: center;
  }

  /* Form styles */
  #signup {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }

  #signup h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .form-control {
    margin-bottom: 20px;
    text-align: left;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #555;
  }
</style>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <main id="signup">
      <h1>Add a new profile</h1>
      <form action="/profile" method="POST">
        <div class="form-control">
          <label for="First Name">First Name</label>
          <input type="text" id="FirstName" name="FirstName" required>
        </div>
        <div class="form-control">
          <label for="Last Name">Last Name</label>
          <input type="text" id="LastName" name="LastName" required >
        </div>
        <div class="form-control">
          <label for="address">Address</label>
          <textarea id="address" name="address" required rows="3"></textarea>
        </div>
        <div class="form-control">
          <label for="mobile">Mobile No</label>
          <input type="text" id="mobile" name="mobile"  >
           </div>
       
       <button class="btn">Add Profile</button>
      </form>  
    </main>
  </body>
  </html>